---

---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hopegrown Productions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="css/hp.min.css?x=1212" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
{% include favicons.html %}

<style type="text/css">
	.carousel { margin-bottom: 1.5em; }
	.carousel img {
		/* position: absolute; */
		top: 0;
		left: 0;
		/* min-width: 100%; */
		margin: auto;
	}
	em.lotus {
		font-family: 'Nova Square', 'cursive';
		font-style:normal;
		font-weight: bold;
		letter-spacing: 2px;

	}
	em.lotustitle {
		letter-spacing: 7px !important;
	}
	.soc .btn {
		margin-bottom: 0.5em;
	}
</style>

</head>

<body>

<!-- Carousel
================================================== -->
<div class="container">
	{% include navbar.html %}
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<img src="{{site.images}}bowlOfCards_745x500.jpg" height="500" alt="Hopegrown Productions">
			</div>
			<div class="item">
				<a href="/thanks"><img src="{{site.images}}handstands-500.jpg" height="500" alt="Hopegrown Productions"></a>
			</div>
			<div class="item">
				<a href="/thanks"><img src="{{site.images}}lotus-500.jpg" height="500" alt="Hopegrown Productions"></a>
			</div>
			<div class="item">
				<img src="{{site.images}}img_5855-500.jpg" height="500" alt="Hopegrown Productions">
			</div>
			<div class="item">
				<img src="{{site.images}}img_3841-500.jpg" height="500" alt="Hopegrown Productions">
			</div>
		</div>
		<!-- controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div><!-- /.carousel -->
</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
	<div class="row">
		<div class="marketing">
			<div class="col-md-10 col-md-offset-1">
				<p class="lead"><strong>Hopegrown Productions</strong> is a Montreal-based theatre company, founded in Fall 2012
					by Miriam Cummings, Lindsey Huebner and Samantha Megarry. We are committed to staging relevant stories featuring
					dynamic female characters.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="soc col-md-3">
			<a href="https://www.facebook.com/HopegrownProductions">
				<button class="btn btn-block btn-social btn-facebook" style="width:100%"><i class="fa fa-facebook"></i>We're on Facebook</button>
			</a>
		</div>
		<div class="soc col-md-3">
			<a href="https://twitter.com/HopegrownPro">
				<button class="btn btn-block btn-social btn-twitter" style="width:100%"><i class="fa fa-twitter"></i>We Tweet</button>
			</a>
		</div>
		<div class="soc col-md-3">
			<a href="http://www.flickr.com/photos/hopegrown/">
				<button class="btn btn-block btn-social btn-flickr" style="width:100%"><i class="fa fa-flickr"></i>Photos on Flickr</button>
			</a>
		</div>
		<div class="soc col-md-3">
			<a href="mailto:info@hopegrown.ca">
				<button class="btn btn-block btn-social btn-github" style="width:100%"><i class="fa fa-envelope-o"></i>info@hopegrown.ca</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="soc col-md-12">
			<h3>Hopegrown Productions is resting <small>– taking a break, but we'll be back!</small></h3>
			<h4>Our past productions:</h4>
		</div>
		<div class="soc col-md-12">
			<div class="soc col-md-6">
				<a href="/2013">
					<h3>2013</h3>
					<h4><em>Around Miss Julie</em></h4>
					<img src="http://d3sl1potqnkeqo.cloudfront.net/bloodyboid.jpg" class="img-responsive img-thumbnail" class="width:100%" alt="Around Miss Julie (2013)">
					<p class="text-center"><em>A new adaptation of Strindberg’s classic.  From St-Ambroise Montreal Fringe Festival to Edinburgh Festival Fringe.</em></p>
				</a>
			</div>

			<div class="soc col-md-6">
				<a href="/2014">
					<h3>2014</h3>
					<h4><em>LOTUS</em></h4>
					<img src="http://d3sl1potqnkeqo.cloudfront.net/Mir-Sam.jpg" class="img-responsive img-thumbnail" class="width:100%" alt="LOTUS (2014)">
					<p class="text-center"><em>You canʼt run from your problems once theyʼve gone viral.</em></p>
				</a>
			</div>
		</div>
		<div class="soc col-md-12">
			<div class="soc col-md-6">
				<a href="/2015">
					<h3>2015</h3>
					<h4><em>A Nightmare for Oberon</em> </h4>
					<img src="/images/2015-04-PressRelease.jpg" class="img-responsive img-thumbnail" class="width:100%" alt="A Nightmare For Oberon (2015)">
					<p class="text-center"><em>Shakespeare's women have gone off-script and need a girls' night...</em></p>
				</a>
			</div>

			<div class="soc col-md-6">
				<a href="/2016">
					<h3>2016</h3>
					<h4><em>The Tragedy of Julius Caesar</em></h4>
					<img src="/images/Taming2012.jpg"  class="img-responsive img-thumbnail" style="width:100%" alt="The Tragedy of Julius Caesar (2016)">
					<p class="text-center"><em>Repercussion’s 28th annual touring show, an all-female production of Shakespeare’s The Tragedy of Julius Caesar.</em></p>
				</a>
			</div>

		</div>
	</div>
	{% include footer.html %}

</div><!-- /.container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
(function($) {

$.fn.equalHeights = function() {
var maxHeight = 0,
            $this = $(this);

$this.each( function() {
var height = $(this).innerHeight();

if ( height > maxHeight ) { maxHeight = height; }
});

return $this.height(maxHeight);
};

})(jQuery);

jQuery(function($) {
	// from http://imakewebthings.com/jquery-waypoints/
	// Wicked credit to
	// http://www.zachstronaut.com/posts/2009/01/18/jquery-smooth-scroll-bugs.html
	var scrollElement = 'html, body';
	$('html, body').each(function () {
		var initScrollTop = $(this).attr('scrollTop');
		$(this).attr('scrollTop', initScrollTop + 1);
		if ($(this).attr('scrollTop') == initScrollTop + 1) {
			scrollElement = this.nodeName.toLowerCase();
			$(this).attr('scrollTop', initScrollTop);
			return false;
		}
	});

	// Smooth scrolling for internal links
	$("a[href^='#']").click(function(event) {
		event.preventDefault();

		var $this = $(this),
		target = this.hash,
		$target = $(target);

		$(scrollElement).stop().animate({
			'scrollTop': $target.offset().top
		}, 500, 'swing', function() {
			window.location.hash = target;
		});

	});
});


// $(".person").equalHeights();

( function( $ ) {
	$( function(){
		// carousel demo
		$( '#myCarousel' ).carousel()
	})
}( window.jQuery ) );
</script>
</body>
</html>
