<footer>
	<hr />
	<div class="col-md-12">
		<p class="small">Copyright 2013-2015 Hopegrown Productions <span class="text-nowrap">-- Last updated: {{ site.time | date: "%h %d %Y" }}</span></p>
	</div>
</footer>
