---
layout: base

---
<div class="pagination">
  <ul class="pagination">
  {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
    <li><a href="/archive/">Archive</a></li>
  {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
</div>
<hr>
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<br><small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row post-full">
  <div class="col-md-6">
    <div class="date">
      <p><strong><em>{{ page.date | date: "%B %e, %Y"  }}</em></strong></p>
    </div>
    <div class="content">
      {{ content }}
    </div>


<!--     <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div> -->

  </div>

<div class="col-md-6">
    {% if page.image %}
    <img src="/images/{{page.image}}" alt="Hopegrown Productions — 2015 — Nightmare for Oberon" style="width:100%;margin-bottom:1em" />
    {% else %}
    <img src="/images/NightmareForOberonLogo01.jpg" alt="Hopegrown Productions — 2015 — A Nightmare for Oberon" />
    {% endif %}
</div>
</div>

